flask
scrapy
Mako==1.0.7
WTForms==2.1
alembic==0.9.9 
faker==0.8.13 
flask-login==0.4.1 
flask-migrate==2.1.1 
flask-sqlalchemy==2.3.2 
flask-wtf==0.14.2 
mysqlclient==1.3.12 
python-editor==1.0.3 
text-unidecode==1.2
